<div class="row">
  <div class="col-12">
    <p>If the player made their bid you can use the check button to quickly set thier score.</p>
  </div>
</div>
<div class="row" *ngFor="let player of game.players; let i = index">
  <div class="col-3">
    {{player.name}}:
  </div>
  <div class="col-9">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-secondary" (click)="checkMade(player)" type="button"><i class="fa fa-check" title="made it"></i></button>
      </span>
      <span class="input-group-btn">
        <button class="btn btn-secondary" (click)="changeBooks(player, -1)" type="button">Down</button>
      </span>
      <input type="text" class="form-control" disabled [(ngModel)]="player.books[round - 1]">
      <span class="input-group-btn">
        <button class="btn btn-secondary" (click)="changeBooks(player, 1)" type="button">Up</button>
      </span>
    </div>
  </div>
</div>