<div class="container">
  <div class="row justify-content-center">
    <h1 class="display-4">Up and Down</h1>
  </div>
  <div *ngIf="!gameInProgress" class="card">
    <div class="card-block">
      Up and down is a variation of "Oh Hell!". Players make bids on the amount of books they think they'll make in each round.
    </div>
  </div>
  <div *ngIf="!gameInProgress" class="row justify-content-center">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary topBotMargin" data-toggle="modal" data-target="#gameInfoModal">New Game</button>
    <app-upanddownmodal (gameSettingsSelected)="setupGame($event)"></app-upanddownmodal>
  </div>
  <div *ngIf="gameInProgress" class="row justify-content-around">
    <div class="col-3 col-sm-2">
      <button type="button" class="btn btn-primary topBotMargin" (click)="initBids()" data-toggle="modal" data-target="#gameBidsModal">Set Bids</button>
      <app-upanddownbidmodal (resetBids)="resetBids($event)" [game]="game"></app-upanddownbidmodal>
    </div>
    <div class="col-3 col-sm-2">
      <button type="button" class="btn btn-primary topBotMargin" (click)="initBooks()" data-toggle="modal" data-target="#gameBooksModal">Set Books</button>
      <app-upanddownbooksmodal (completeRound)="completeRound($event)" (resetBooks)="resetBooks($event)" [game]="game"></app-upanddownbooksmodal>
    </div>
  </div>
  <table *ngIf="gameInProgress" class="table table-responsive table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th *ngFor="let player of game.players; let i = index">{{player.name}} - {{player.total}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let round of game.displayRounds; let i = index">
        <th scope="row">{{round}}</th>
        <td *ngFor="let player of game.players; let j = index">
          <div *ngIf="player.bids[i] !== undefined">
            <span class="badge badge-default">Bid: {{player.bids[i]}}</span>
            <span class="badge badge-{{player.bids[i] === player.books[i] ? 'success' : 'danger'}}">Made: {{player.books[i]}}</span>
          </div>
          <div *ngIf="player.gain[i] !== undefined">
            +{{player.gain[i]}}
          </div>
        </td>
      </tr>
      <tr>
        <th>#</th>
        <th *ngFor="let player of game.players; let i = index">{{player.name}} - {{player.total}}</th>
      </tr>
    </tbody>
  </table>
  <div *ngIf="winners.length !== 0" class="alert alert-info alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>Congratulations {{winners}}!</strong> You've won the game!<br> 
    Select 'Another Game' to give your friends another shot :) Select Done to start with new players.<br>
    <button type="button" (click)="resetGame()" class="btn btn-primary topBotMargin" data-dismiss="alert" aria-label="Close">Another Game</button>
    <button type="button" (click)="doneGame()" class="btn btn-primary topBotMargin" data-dismiss="alert" aria-label="Close">Done</button>
  </div>
</div>