<div class="container">
  <div class="row justify-content-center">
    <h1 class="display-4">Up and Down</h1>
  </div>
  <div *ngIf="!gameInProgress" class="card">
    <div class="card-block">
      Up and down is a variation of "Oh Hell!". Players make bids on the amount of books they think they'll make in each round.
    </div>
  </div>
  <div *ngIf="!gameInProgress" class="row justify-content-center">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary topBotMargin" data-toggle="modal" data-target="#gameInfoModal">New Game</button>
    <app-upanddownmodal (gameSettingsSelected)="setupGame($event)"></app-upanddownmodal>
  </div>
  <div *ngIf="gameInProgress" class="row justify-content-around">
    <div class="col-3 col-sm-2">
      <button type="button" class="btn btn-primary topBotMargin" [disabled]="!readyForBid" data-toggle="modal" data-target="#gameBidsModal">Set Bids</button>
      <app-upanddownbidmodal (roundBids)="setBids($event)" [allRounds]="fullRounds" [game]="game" [round]="round"></app-upanddownbidmodal>
    </div>
    <div class="col-3 col-sm-2">
      <button type="button" class="btn btn-primary topBotMargin" [disabled]="!readyForBooks" data-toggle="modal" data-target="#gameBooksModal">Set Books</button>
      <app-upanddownbooksmodal (completeRound)="setBooks($event)" [allRounds]="fullRounds" [game]="game" [round]="round"></app-upanddownbooksmodal>
    </div>
  </div>
  <table *ngIf="gameInProgress" class="table table-responsive table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th *ngFor="let player of game; let i = index">{{player.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let round of fullRounds; let i = index">
        <th scope="row">{{round}}</th>
        <td *ngFor="let player of game; let j = index">
          <div *ngIf="player.bids[i] !== undefined">
            <span class="badge badge-default">Bid: {{player.bids[i]}}</span>
            <span class="badge badge-{{player.bids[i] === player.books[i] ? 'success' : 'danger'}}">Made: {{player.books[i]}}</span>
          </div>
          <div *ngIf="player.gain[i] !== undefined">
            Gain: {{player.gain[i]}} Total: {{player.total}}
          </div>
        </td>
    </tbody>
  </table>
</div>