<div class="modal fade" id="gameBooksModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Set Books</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <label for="rounds">Books:</label>
          </div>
        </div>
        <div class="row" *ngFor="let player of game; let i = index">
          <div class="col-3">
            {{player.name}}: 
          </div>
          <div class="col-9">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-secondary" (click)="changeBooks(i, -1)" type="button">Down</button>
              </span>
              <input type="text" class="form-control" disabled [(ngModel)]="books[i]">
              <span class="input-group-btn">
                <button class="btn btn-secondary" (click)="changeBooks(i, 1)" type="button">Up</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="!isValid" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>