<div class="container">
  <blockquote class="blockquote">
    <p class="mb-0">Weird how the scorekeeper always wins...</p>
    <footer class="blockquote-footer">every sore loser <cite title="everywhere">everywhere</cite></footer>
  </blockquote>
  <div class="row text-center">
    <p>Because now a days we're more likely to have phones than pencil and paper. Now anyone can keep score, anytime, anywhere,
      even using their phones.</p>
  </div>
  <div class="row text-center">
    <div class="col-12">
      <p>With the Card Scorekeeper web app we want to be your one stop mobile shop for keeping score of your games. Current
        we let you keep score of the following games:</p>
    </div>
    <div class="col-12">
      <ul class="list-unstyled">
        <li><strong>Up and Down</strong></li>
      </ul>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12">
      <p>
        However we're planning on adding as many card games as we find. Coming soon we plan on adding:
      </p>
    </div>
    <div class="col-12">
      <ul class="list-unstyled">
        <li><strong>45's</strong></li>
        <li><strong>Gin</strong></li>
        <li><strong>Hearts</strong></li>
      </ul>
    </div>
  </div>
</div>